body{

  font-family: arial,sans-serif;

}


/* nav */

.header{
  overflow: auto;
  padding: 3%;
}
.navpaginaprincipal{
  background-color: black;
  overflow: auto;
}
.nav  {
  list-style: none;
}
.nav li:hover{
  background-color:red;
  text-decoration: underline red;
}

.nav > li {
  float:left;
}

.nav li a {
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li ul {
  text-decoration:none;

  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
  background-color: black;
  color:white;
  text-decoration: none;
}
.desple{
list-style: none;
margin-left:-40px;
}


.nav ul:hover > li:hover{
  text-decoration: none;
  background-color: red;

}

.logo{
float: left;
margin-left: 27%;
}

.busqueda{
  color: grey  ;
  margin-left: 10px;
}
.busqueda:hover{
  color:black;
}

/* iniciar session*/
.Iniciar{
  text-align: center;

}
.registro{
text-align: center;
}


/* footer */
.footer{
  background-color: black;
  color: white;
  padding: 3%;
  overflow: auto;
  text-transform:uppercase;


}

.redes{
  text-align : center;
float: left;
margin-left: 20%;
}
.Contactar{
float: left;
margin-left: 10%
}
.colaboradores{
float: right;
margin-right: 10%;
}
